@import '../shared/variables';

.Header {
  text-align: center;
  .title {
    font-family: $roboto;
    color: $title-color;
    font-weight: $thin;
    font-size: 3.5rem;
    margin: 40px 0 0;
  }
  .subtitle {
    font-family: $muli;
    color: $light-color;
    font-weight: $light;
    font-size: 1.1rem;
    margin: 0;
  }

  @media screen and (max-width: $screen-mobile-max) {
    .title {
      font-size: 3rem;
    }
  }
}