@import '../shared/variables';

.Modal {
  .modal-dialog {
    text-align: center;
    width: 560px;
    height: 340px;
    background: $dark-color;
    color: $light-grey-color;
    position: fixed;
    top: calc(50% - 180px);
    left: calc(50% - 280px);
    z-index: 2;
    border-radius: 5px;
    padding: 10px 5px;
    .modal-title {
      font-weight: $regular;
      margin: 15px 0 25px;
    }
    .row {
      display: flex;
      justify-content: space-around;
      .col-left {
        width: 200px;
      }
      .col-right {
        width: 270px;
      }
    }
  }
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $dark-color;
    opacity: 0;
    z-index: 1;
  }

  @media screen and (max-width: $screen-mobile-max) {
    .modal-dialog {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      padding: 20px;
      overflow: scroll;
      border-radius: 0;
      .row {
        flex-wrap: wrap;
        .col-6 {
          width: 100%
        }
      }
    }
  }
}

.zoomInUp {
  animation-name: zoomInUp;
  animation-duration: $slow;
  animation-fill-mode: both;
}

@keyframes zoomInUp {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

