.CustomColor {
  text-align: center;
  width: 200px;
  padding: 20px 10px;
  border-radius: 0 0 4px 4px;
  background: white;
  input.custom {
    width: 120px;
    border: none;
    border-bottom: 3px solid;
    font-size: 16px;
    height: 30px;
    &:focus {
      outline: none;
    }
  }
}

.rgbgroup {
  width: 35px;
  display: inline-block;
  margin: 10px 6px;
  text-align: left;
  .rgblabel {
    font-size: 12px;
    color: #999;
  }
  input.rgb {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    height: 28px;
    &:focus {
      border-bottom-color: #999;
      outline: none;
    }
  }
}

