/* Colors */
$back-color: #2B3137;
$dark-color: darken($back-color, 7);
$back-color-alt: #24292E;
$title-color: #61dafb;
$light-color: #f5f5f5;
$light-grey-color: #d0d0d0;
$grey-color: lighten($back-color, 45);
$theme-color: #ff8a00;
$theme-color: #F47034;

/* Fonts */
$roboto: 'Roboto', sans-serif;
$muli: 'Muli', $roboto;
$thin: 100;
$light: 300;
$medium: 500;


/* Resolution Break Points */
$screen-mobile-max: 767px;
$screen-tablet-max: 991px;

/* Animation times */
$fast: 200ms;
$normal: 300ms;
$slow: 500ms;