/* Colors */
//$back-color: #282c34;
$back-color: #2B3137;
$back-color-alt: #24292E;
$link-color: #61dafb;
$blue-light-color: #81D4FA;
$title-color: #4DD0E1;
$light-color: #E8E8E8;
$grey-color: #A5A7A3;
$color-theme: #6200ee;

/* Fonts */
$roboto: 'Roboto', sans-serif;
$muli: 'Muli', $roboto;
$thin: 100;
$light: 300;
$regular: 400;


/* Resolution Break Points */
$screen-mobile-max: 767px;
$screen-tablet-max: 991px;

/* Animation times */
$fast: 340ms;
$normal: 500ms;